header {
	margin: 10px 20px;
}

body, html {
	height: calc(100% - 5px);
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Main_Menu */

#main_menu {
	display: inline;
	padding: 0px;
}

#main_menu li {
	display: inline;
	padding: 0px 5px;
	font-family: cursive;
	font-weight: normal;
	cursor: pointer;
}

#main_menu li:hover {
	font-weight: bolder;
}

#main_menu li.Active {
	border-bottom: solid 1px;	
}

/* aliButton кнопка */

.aliButton {
	padding: 2px 2px;
	margin: 2px 2px;
	border-style: solid;
	border-width: 1px;
	vertical-align: middle; 
	user-select: none;
}

.aliButton {
	cursor: pointer;
}

.aliButton:hover {
	border-width: 1.3px;
}

/* aliDropdown */

.aliDropdown {
	display: inline-block;
	position: relative; 
}

.aliDropdown > div {
	text-align: center;
	padding: 2px 2px;
	border-style: solid;
	border-width: 1px;
	user-select: none;
}

.aliDropdown:hover > div {
	background-color: #EEEEEE;
}

.aliDropdown li{
	list-style-type: none;
}

.aliDropdown > ul {
	padding: 2px 2px;
	margin: 0px;
	position: absolute; 
	display: none; 
	background-color: #EEEEEE;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	cursor: pointer; 
}

.aliDropdown > ul:active {
	display: none;
}	

.aliDropdown:hover > ul{
	display: block;	
}

.aliDropdown li:hover {
	background-color: #CCCCCC;
}	

/* aliModal модальное окно */

div.aliModal{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
	text-align: center;
}

div.aliModal:before {
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	content: '';
}

div.aliModal > div{
	border: 2px solid;
	background-color: white;
	padding: 15px;
	display: inline-block;
	vertical-align: middle; 
}

/* таблица scrlTable */

table.aliTable {
	border-collapse: collapse;
}

.aliTable td {
	padding: 2px 4px;
}
.aliTable.noScrlTab  td {
	border: 1px solid;
}

.aliTable.ScrlTab td{
	border-top: solid 1px;
	border-left: solid 1px;
}


/* */

.aliTable.ScrlTab td:first-child{
	border-left: none;
}

.aliTable.ScrlTab tr:first-child td{
	border-top: none;
}

.aliTable.ScrlTab thead td{
	border-bottom: solid 1px;
}

.aliTable.ScrlTab td:last-child{
	border-right: solid 1px;
}

.aliTable.ScrlTab {
	border: solid 1px;
}

table.aliTable.ScrlTab {
	table-layout: fixed; 
}

.aliTable.ScrlTab thead tr {
	display: block; 
}

.aliTable.ScrlTab tbody{
	display: block; 
	overflow: auto; 
	height: 60vh;  
}

/* цвета */	

.aliTable td.lvl_1 {
	background-color: #d9ead3
}

.aliTable td.lvl_2 {
	background-color: #fff2cc
}

.aliTable thead td, .aliTable td.lvl_total{
	background-color: #d0e0e3
}

/* прочие */

.MargTop15 {
	margin-top: 15px;
}

.FRite {
	float: right;
}

/* элементы */

#btnTabType {
	width: 120px;
}

#btnTabType > ul {
	width: 114px;
}

#btnTabDepth {
	width: 20px;
}

#btnTabDepth > ul {
	width: 14px;
}